<div class="jumbotron">
  <h1>Wprowadź adres URL</h1>
  <form name="urlForm" role="form" ng-submit="allegrosrv.postUrlToService(allegrosrv.newUrl)" novalidate>
    <input type="text" id="url" name="url" ng-model="allegrosrv.newUrl.url" placeholder="Wprowadź adres">
    <button type="submit" class="btn btn-info btn-lg">Wyślij</button>
  </form>




  <div ng-if="dataLoading">
    Loading...
  </div>




  <pagination total-items="totalItems" max-size="'10'"
              ng-model="currentPage" ng-change="pageChanged()"></pagination>

  <p>Pages: {{totalItems}}</p>

  <p>{{printResult.pg}}</p>
  <ul>
    <li ng-repeat="offer in printResult.offers">

      <p>{{offer.name}}</p>
    </li>
  </ul>

</div>
